@font-face {
    font-family:'hi';
    src: url(../fonts/Volkhov-Bold.ttf);
    
}
.findBtn{
    background-color: #F1A501 !important;
    color: white !important;
    box-shadow: rgb(98, 116, 135) 0px 14px 26px -10px !important;
}
.head{
    font-family: 'hi';
    font-size:60px !important;
}
@media screen and (min-width: 426px){
    .homeImg{
        order: 2 !important;
    }
    .homeCont{
        order: 1 !important;
    }
    
}
@media screen and (max-width:426px){
    .homeCont{
        padding: 9px;
    }
    .head{
        font-size: 35px !important;
        margin-top: 30px !important;
    }
}